In [11]:
import pandas as pd
contrib = pd.read_csv("financial_contributions.csv")
profesori=pd.read_csv("profesori.csv")
contrib
contrib[['Date', 'Nume Prenume', 'Sursa', 'Currency', 'Incasat', 'NumPers','Clasa']]

,Date,Nume Prenume,Sursa,Currency,Incasat,NumPers,Clasa
0,23-05-2023,Nikolaje L Liuba 4 Adriana Cuzman,Revolut,RON,250,1.0,XII-D
1,15-04-2023,Sebastian Ivan,Revolut,RON,500,2.0,XII-D
2,18-04-2023,Ciotescu Raul,Revolut,RON,200,1.0,XII-D
3,18-04-2023,Danielescu Aura Codruta,Revolut,RON,450,2.0,XII-E
4,05-05-2023,Dragisa Uncul,Revolut,RON,425,2.0,XII-E
...,...,...,...,...,...,...,...
68,30-06-2023,Virgil Stoica,Revolut,RON,50,1.1,XII-E
69,03-07-2023,Dusa Adrian Radu,Revolut,RON,200,1.0,XII-B
70,05-07-2023,Razvan Codrin Ardelean,Revolut,RON,200,1.0,XII-G
71,05-07-2023,Dragos Manea Nicolae,Revolut,RON,200,1.0,XII-G
72,05-07-2023,Tonea Mihaela,Revolut,RON,200,1.0,XII-F

In [12]:
profesori

,NumePrenume,Flori,CDLoga,Vineri15,Note,TRANSPORT
0,Fam Prof. Bratu,1,0,0,Are ceva probleme de sanatate si ne spune vine...,NaN
1,Simona Stoia,1,1,1,Loga + Vineri_15,NaN
2,Fediuc,0,1,1,Loga + Vineri_15 (spre confirmare dupa un eve...,NaN
3,Lazar Florin,0,1,1,Loga+Vineri_15,NaN
4,Marius IT Loga,0,1,1,Loga+Vineri_15,NaN
5,Nichifor Loga,1,1,1,Loga+Vineri_15,NaN
6,Tita,0,1,1,am vb dar nu mai stiu ... cred ca a zis ca vi...,NaN
7,Rosu,1,1,1,vine Loga + Vineri_15,NaN
8,Sandu,0,1,1,are orteza - ne spune vineri,NaN
9,Murgu Loga,0,1,1,NaN,TRANSPORT - il va aduce Dan Doran
10,Ernst,1,1,1,vine Loga + Vineri_15,TRANSPORT - o va aduce Flavia
11,Herbei,0,1,1,Vine Loga + Vineri_15,TRANSPORT - il va aduce Adelina
12,Hurbeanu,0,1,1,NaN,TRANSPORT - il va aduce Calugaru Victor

In [13]:
cost_per_pers=120+30
colegi = contrib.NumPers.sum()
profi = profesori["Vineri15"].sum()
flori= profesori["Flori"].sum()
flori_cost=flori*70
total_px=colegi+profi
incasat = contrib.Incasat.sum()
real_cost = total_px*cost_per_pers+flori_cost
spre_retur = incasat-real_cost

print(f'Persoane: {total_px}: fosti Studenti {colegi} si profesori {profi}')
print(f'RON incasat: {incasat}')
print(f'RON real_cost: {real_cost}')
print(f'RON flori_cost: {flori_cost} pentru {flori} buchete')
print(f'RON retur: {spre_retur}')

Persoane: 96.69999999999999: fosti Studenti 84.69999999999999 si profesori 12
RON incasat: 17194
RON real_cost: 14854.999999999998
RON flori_cost: 350 pentru 5 buchete
RON retur: 2339.000000000002

In [14]:
#todo
#1. flori scoala = 300 RON?
#2. apa scoala = 200 ron?
#3. share meniu info
#4. pay Vineri13
#5. org conf call via MS Teams

In [15]:
# XII-D
Fediuc - 
Nichifor - 
Clipici Lazar Florin - 
Simona Stoia - 
Tita - vine - orteza la picior - doar la scoala

# Sport
Murgu Ilie
Sabadus 


# Special
Hurbeanu Ilie - Baile Neptun - de acasa - tbc


# Profi A



Tapu - Maris Vasile - tbc

SyntaxError: invalid syntax (4216567059.py, line 2)

In [ ]:
# tort - nu prea
# codrina

# apa, Flavius
# codring covrigei - servetele

# Cabina foto
# restaurant

# flori - 60 buchetul - profesoare + 2