In [32]:
import pandas as pd
contrib = pd.read_csv("financial_contributions.csv")
contrib

,Date,Nume Prenume,Sursa,Currency,Incasat,NumPers,Clasa,RealCost,Retur
0,23-05-2023,Nikolaje L Liuba 4 Adriana Cuzman,Revolut,RON,250,1,XII-D,120,130
1,15-04-2023,Sebastian Ivan,Revolut,RON,500,2,XII-D,240,260
2,18-04-2023,Ciotescu Raul,Revolut,RON,200,1,XII-D,120,80
3,18-04-2023,Danielescu Aura Codruta,BT,RON,450,2,XII-E,240,210
4,05-05-2023,Dragisa Uncul,Revolut,RON,425,2,XII-E,240,185
5,12-05-2023,Moldovan Ioana Lucia Purge,Revolut,RON,200,1,XII-F,120,80
6,15-05-2023,Flavius Ban,Revolut,RON,200,1,XII-D,120,80
7,19-05-2023,Alina Petrica,Revolut,RON,200,1,XII-D,120,80
8,19-05-2023,Silviu Stanca,Revolut,RON,400,2,XII-A,240,160
9,20-05-2023,Florentin Munteanu,Revolut,RON,200,1,XII-D,120,80
10,23-05-2023,Nikolaje L Liuba 4 Adtiana Cuzman,Revolut,RON,150,1,XII-D,120,30
11,29-05-2023,Diana Melania Beck,Revolut,RON,200,1,XII-E,120,80
12,30-05-2023,Alina Florina Baciu Toma,Revolut,RON,200,1,XII-D,120,80
13,01-06-2023,Dan Cristian Smolinschi 4 Alina Totoescu,Revolut,RON,250,1,XII-G,120,130

In [34]:
total_px = contrib.NumPers.sum()
incasat = contrib.Incasat.sum()
real_cost = (total_px+10)*70 
spre_retur = contrib.Retur.sum()-real_cost

print(f'Persoane: {total_px} si 10 profesori')
print(f'incasat: {incasat}')
print(f'real_cost: {real_cost}')
print(f'retur: {spre_retur}')

Persoane: 18 si 10 profesori
incasat: 3825
real_cost: 1960
retur: -295