In [6]:
import pandas as pd
contrib = pd.read_csv("financial_contributions.csv")

In [7]:
contrib

,Date,Person,Sum,Px_num,Currency,Clasa,RealCost,Retur
0,23-05-2023,Nikolaje L Liuba Adriana Cuzman,250,1,RON,XII-X,120,130
1,15-04-2023,Sebastian Ivan,500,2,RON,XII-D,240,260
2,18-04-2023,Ciotescu Raul,200,1,RON,XII-D,120,80
3,18-04-2023,Danielescu Aura Codruta,2,450,RON,XII-E,240,210
4,05-05-2023,Dragisa Uncul,425,2,RON,XII-E,240,185
5,12-05-2023,Moldovan Ioana Lucia Purge,1,200,RON,XII-X,120,80
6,15-05-2023,Flavius Ban,200,1,RON,XII-D,120,80
7,19-05-2023,Alina Petrica,200,1,RON,XII-D,120,80
8,19-05-2023,Silviu Stance,2,400,RON,XII-X,240,160
9,20-05-2023,Florentin Munteanu,1,200,RON,XII-D,120,80
10,23-05-2023,Nikolaje L Liuba Adtiana Cuzman,1,150,RON,XII-X,120,30
11,29-05-2023,Diana Melania Beck,1,200,RON,XII-E,120,80
12,30-05-2023,Alina Florina Baciu Toma,1,200,RON,XII-D,120,80